<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wyślij wniosek</title>
    <link rel="stylesheet" type="text/css" href="/public/css/css_wniosek.css" />
    <link rel="icon" href="/public/zdjecia/car-logo.png" type="image/x-icon" />
    <link rel="icon" href="/public/zdjecia/car-logo.png" type="image/png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md">
      <div class="container">
        <button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
          aria-controls="nav"
          aria-label="Expand Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center mt-4 mb-4"
          id="nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="index" class="nav-link " >
                Strona główna
              </a>
            </li>
            <li class="nav-item " >
              <a href="wniosek" class="nav-link active" aria-current="page">Wyślij wniosek</a>
            </li>
            <li class="nav-item">
              <a href="sprawdz_rezerwacje" class="nav-link">
                Sprawdź swoją rezerwacje
              </a>
            </li>
            <li class="nav-item">
              <a href="profil" class="nav-link">Profil</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <form method="post" action="/wniosekVaild">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="wniosek-1 box wniosek">
              <label for="imie">Imię</label>
              <input
                name="imie"
                type="text"
                value="<%= locals.imie %>"
                placeholder="<%= locals.nameEr %>" />
              <label for="nazwisko">Nazwisko</label>
              <input
                name="nazwisko"
                type="text"
                value="<%= locals.nazwisko %>"
                placeholder="<%= locals.nameEr %>" />
              <label for="numer_rejestracyjny">Numer rejestracyjny</label>
              <input
                name="numer_rejestracyjny"
                type="text"
                placeholder="<%=
            locals.registrationNumberEr %>" />
              <label for="czas_rozpoczecia">Czas przyjazdu</label>
              <input
                type="date"
                name="czas_rozpoczecia"
                id="czas_rozpoczecia" />
              <label for="czas_rozpoczecia">Czas odjazdu</label>
              <input
                type="date"
                name="czas_zakonczenia"
                id="czas_zakonczenia" />
            </div>
          </div>
          <div class="col">
            <div class="wniosek-2 box wniosek">
              <label for="numer">Numer telefonu</label>
              <input
                name="numer"
                type="number"
                placeholder="<%= locals.phoneNumberEr %>" />
              <label for="email">E-mail</label>
              <input
                name="email"
                type="email"
                placeholder="<%= locals.emailEr %>" />
              <label style="margin: 20px">Ilość osób</label>
              <div class="radio-buttons">
                <label for="jeden">1-2</label>
                <input type="radio" id="jeden" name="ilosc_osob" value="1-2" />
              </div>
              <div class="radio-buttons">
                <label for="dwa">2-4</label>
                <input type="radio" id="dwa" name="ilosc_osob" value="2-4" />
              </div>
              <div class="radio-buttons">
                <label for="trzy">5+</label>
                <input type="radio" id="trzy" name="ilosc_osob" value="5+" />
              </div>
            </div>
           
          </div>
        </div>
        <div id="proponowana-cena" style="margin: 10px">
          Po wyliczeniach cena wynosi
          <span id="priceValue">0</span>
          pln</br></br>
          <button name="potwierdz-rejestracje" id="potwierdz-rejestracje">
            Zarejestruj sie
          </button>
        </div>
        <div id="">

        </div>
      </div>
    </form>
    <!-- 
      <form method="post" action="/wniosekVaild">
        <div class="wniosek-1 box wniosek">
          <label for="imie">Imię</label>
          <input
            name="imie"
            type="text"
            value="<%= locals.imie %>"
            placeholder="<%= locals.nameEr %>" />
          <label for="nazwisko">Nazwisko</label>
          <input
            name="nazwisko"
            type="text"
            value="<%= locals.nazwisko %>"
            placeholder="<%= locals.nameEr %>" />
          <label for="numer_rejestracyjny">Numer rejestracyjny</label>
          <input
            name="numer_rejestracyjny"
            type="text"
            placeholder="<%=
          locals.registrationNumberEr %>" />
          <label for="czas_rozpoczecia">Czas przyjazdu</label>
          <input type="date" name="czas_rozpoczecia" id="czas_rozpoczecia" />
          <label for="czas_rozpoczecia">Czas odjazdu</label>
          <input type="date" name="czas_zakonczenia" id="czas_zakonczenia" />
        </div>

        <div class="wniosek-2 box wniosek">
          <label for="numer">Numer telefonu</label>
          <input
            name="numer"
            type="number"
            placeholder="<%= locals.phoneNumberEr %>" />
          <label for="email">E-mail</label>
          <input
            name="email"
            type="email"
            placeholder="<%= locals.emailEr %>" />
          <label style="margin: 20px">Ilość osób</label>
          <div class="radio-buttons">
            <label for="jeden">1-2</label>
            <input type="radio" id="jeden" name="ilosc_osob" value="1-2" />
          </div>
          <div class="radio-buttons">
            <label for="dwa">2-4</label>
            <input type="radio" id="dwa" name="ilosc_osob" value="2-4" />
          </div>
          <div class="radio-buttons">
            <label for="trzy">5+</label>
            <input type="radio" id="trzy" name="ilosc_osob" value="5+" />
          </div>
        </div>
        <div id="proponowana-cena" style="margin: 10px">
          Po wyliczeniach cena wynosi
          <span id="priceValue">0</span>
          pln
        </div>
        <button name="potwierdz-rejestracje" id="potwierdz-rejestracje">
          Zarejestruj sie
        </button>
      </form>
     -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let czas_rozpoczecia = document.getElementById("czas_rozpoczecia");
        let czas_zakonczenia = document.getElementById("czas_zakonczenia");
        let priceValue = document.getElementById("priceValue");
        function createDate(type) {
          let czas;
          if (type) {
            czas = document.getElementById("czas_rozpoczecia");
          } else {
            czas = document.getElementById("czas_zakonczenia");
          }

          czas = czas.value;
          let parts = czas.split("-");
          let rok = parseInt(parts[0], 10);
          let miesiac = parseInt(parts[1], 10) - 1;
          let dzien = parseInt(parts[2], 10);
          let dataJs = new Date(rok, miesiac, dzien);
          return dataJs;
        }

        function getDifferenceDate(data1, data2) {
          if (data1 > data2) {
            return data1 - data2;
          } else {
            return 0;
          }
        }
        czas_rozpoczecia.addEventListener("input", calculatePrice);
        czas_zakonczenia.addEventListener("input", calculatePrice);
        function calculatePrice() {
          let msDifference = getDifferenceDate(createDate(0), createDate(1));
          msDifference = msDifference / 3600000;
          priceValue.innerHTML = msDifference;
        }
      });
    </script>
  </body>
</html>
